/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.container {
    position: relative;
}

.header__wrap {
    background-image: -webkit-gradient( linear, left top, left bottom, from(#434a544d), to(#434a544d)),url(../img/slider/new.jpg) ;
    background-image: -o-linear-gradient( #434a544d, #434a544d),url(../img/slider/new.jpg) ;
    background-image: linear-gradient( #434a544d, #434a544d),url(../img/slider/new.jpg) ;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

/* Slider */
.slider {
    position: relative;
    z-index: 2;
}

.slider__content {
    padding: 210px 0 65px;
}


.slider__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
            transform: scale(0.98);
}

.slider__heading {
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: var(--white-color);
    font-weight: 600;
    text-align: center;
}

/* News */

.news {
    width: 1200px;
    max-width: 100%;
    margin: 65px auto 0;        
}

.news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 320px;
    margin-top: 30px;
    -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    overflow: hidden;
}

.news__item-img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
}

.news__item-content {
    width: 50%; 
    padding: 30px;
    background-color: #fff;
}

.news__item-decs {
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 2px;
    color: #9a9a9a;
}

.news__item-paragraph  {
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    color: #9a9a9a;
}

.news__item-heading {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #555;
}

.news__item-btn {
    padding: 5px 20px;
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    background-color: #f9f9f9;
    margin-top: 20px;
    text-transform: uppercase;
    color: var(--white-color);
}

.news__item--bg-green {
    background-color: var(--green-color);
}

.news__item--bg-green .news__item-decs,
.news__item--bg-green .news__item-heading,
.news__item--bg-green .news__item-paragraph {
    color: var(--white-color);
}

.news__item--bg-green .news__item-btn {
    background-color: var(--white-color);
    color: var(--green-color);
}


.news__item--bg-blue {
    background-color: var(--blue-color);
}

.news__item--bg-blue .news__item-decs,
.news__item--bg-blue .news__item-heading,
.news__item--bg-blue .news__item-paragraph {
    color: var(--white-color);
}

.news__item--bg-blue .news__item-btn {
    background-color: var(--white-color);
    color: var(--blue-color);
}

@media (max-width: 1200px) {
    .news__item {
        height: 267px;
        width: 80%;
        margin: 30px auto 0;
    }

    .news__item-btn {
        width: 50%;
        text-align: center;
    }
}

@media (max-width: 970px) {
    .news__item {
        height: 294px;
        width: 80%;
    }

    .news__item-btn {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 780px) {
    .news__item {
        width: 60%;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .news__wrap .news__item:nth-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }

    .news__item-img {
        width: 100%;
    }

    .news__item-content {
        width: 100%;
    }
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Footer */
.footer {
    margin-top: 78px;
    padding: 80px 0;
    background-image: url(../img/footer/parallax-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__wrap {
    
}

.footer__header-with-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
}

.footer__header {
    width: 50%;
    padding-left: 17%;
    margin-bottom: 14px;
}

.footer__search {
    width: 50%;

}

.footer__input {
    margin-left: 15px;
    background-color: #f9f9f9;
    width: 258px;
    color: #9a9a9a;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.footer__send-btn {
    margin-left: 20px;
    line-height: 2rem;
}

.footer__body {
    background-color: var(--white-color);
    padding: 35px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__body-text {
    width: 50%;
    padding: 0 35px 0 15px;
}

.footer__body-logo {
    width: 150px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.footer__body-paragraph {
    color: #9a9a9a;
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.footer__body-socials a {
    text-decoration: none;
}

.footer__body-social-icon {
    font-size: 2.2rem;
    margin-right: 20px;
    color: #555;
}

.footer__body-social-icon:hover {
    opacity: 0.7;
}

.footer__body-link-path-wrap {
    width: 50%;
    padding-left: 15px;
}

.footer__body-link-path {

}

.footer__body-link-path-heading {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: #555;
    margin-top: 25px;
    margin-bottom: 32px;
}

.footer__body-link-path-list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer__body-link-path-item {
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
}

.footer__body-link-path-item a {
    text-decoration: none;
    color: #9a9a9a;
}

.footer__body-link-path-item:hover a {
    opacity: 0.8;
}

.footer__body-link-path-list .footer__body-link-path-item::before {
    content: ">";
    font-size: 1.5rem;
    color: #9a9a9a;
    line-height: 2.7rem;
    margin-right: 6px;
}

.footer__copyright {
    background-color: var(--blue-color);
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 2px;
    color: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}