/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Promotion */
.promotion {
    margin-top: 78px;
}

.promotion__item {
    position: relative;
    z-index: 0;
    border-radius: 2px;
    transition: transform 0.2s linear;
}

.promotion__item:hover {
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px);
    transition: transform 0.2s linear;
}

.promotion__img {
    height: 231px;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.promotion__euro {
    width: 100%;
    background-image: url(../img/promotion/berlin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promotion__hongkong {
    width: 100%;
    background-image: url(../img/promotion/hongkong.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promotion__sanfrancisco {
    width: 100%;
    background-image: url(../img/promotion/sanfrancisco.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promotion__phuket {
    width: 100%;
    background-image: url(../img/promotion/phuket.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promotion__amsterdam {
    width: 100%;
    background-image: url(../img/promotion/amsterdam.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promotion__tuscany {
    width: 100%;
    background-image: url(../img/promotion/tuscany.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promotion__item {
    position: relative;
    border: 0.5px solid #f0ecec;
}

.promotion__item-saling {
    position: relative;
}

.promotion__item-saling::after {
    content: "SALE";
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #555;
    color: var(--white-color);
    border-radius: 30px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    letter-spacing: 1px;
    padding: 4px 12px;
    z-index: 1;
}

.promotion__item-icon {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    z-index: 1;
    bottom: -25px;
    right: 20px;
}

.promotion__item-icon-img {
    height: 26px;
    width: 26px;
}

.promotion__item-body {
    padding: 30px
}

.promotion__item-body a {
    text-decoration: none;
    display: block;
}

.promotion__item-head-wrap {

}

.promotion__item-head-headding {
    font-size: 2rem;
    line-height: 2rem;
    color: #555;
    font-weight: 600;
}

.promotion__item-head-location {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #9a9a9a;
    letter-spacing: 1px;
    margin-top: 10px;
}

.promotion__item-head-icon {
    font-size: 1.5rem;
}

.promotion__item-decs-and-price {
    border-top: 0.5px solid #f0ecec;
    border-bottom: 0.5px solid #f0ecec;
    margin: 20px 0;
    padding: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
}

.promotion__item-decs {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: #555;
    letter-spacing: 2px;
}

.promotion__item-decs-text {
    line-height: 2rem;
}

.promotion__item-price {
    color: #555;
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 1px;    
}

.promotion__item-price-sale {
    font-size: 2rem;
    text-decoration: line-through;
    color: #9a9a9a;
}

.promotion__item-text {
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #9a9a9a;
    letter-spacing: 1px;
}

.promotion__item-btn {
    margin-top: 22px;
    display: inline-block !important;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Footer */
.footer {
    margin-top: 78px;
    padding: 80px 0;
    background-image: url(../img/footer/parallax-7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.footer__wrap {
    
}

.footer__header-with-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 45px;
}

.footer__header {
    width: 50%;
    padding-left: 17%;
    margin-bottom: 14px;
}

.footer__search {
    width: 50%;

}

.footer__input {
    margin-left: 15px;
    background-color: #f9f9f9;
    width: 258px;
    color: #9a9a9a;
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.footer__send-btn {
    margin-left: 20px;
    line-height: 2rem;
}

.footer__body {
    background-color: var(--white-color);
    padding: 35px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer__body-text {
    width: 50%;
    padding: 0 35px 0 15px;
}

.footer__body-logo {
    width: 150px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.footer__body-paragraph {
    color: #9a9a9a;
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.footer__body-socials a {
    text-decoration: none;
}

.footer__body-social-icon {
    font-size: 2.2rem;
    margin-right: 20px;
    color: #555;
}

.footer__body-social-icon:hover {
    opacity: 0.7;
}

.footer__body-link-path-wrap {
    width: 50%;
    padding-left: 15px;
}

.footer__body-link-path {

}

.footer__body-link-path-heading {
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: #555;
    margin-top: 25px;
    margin-bottom: 32px;
}

.footer__body-link-path-list {
    list-style: none;
    margin: 0;
    padding: 0;

}

.footer__body-link-path-item {
    font-size: 1.4rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
}

.footer__body-link-path-item a {
    text-decoration: none;
    color: #9a9a9a;
}

.footer__body-link-path-item:hover a {
    opacity: 0.8;
}

.footer__body-link-path-list .footer__body-link-path-item::before {
    content: ">";
    font-size: 1.5rem;
    color: #9a9a9a;
    line-height: 2.7rem;
    margin-right: 6px;
}

.footer__copyright {
    background-color: var(--blue-color);
    padding: 20px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    letter-spacing: 2px;
    color: var(--white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
